<!DOCTYPE html>
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Delen!!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">

        <a class="navbar-brand px-2" href="{{url_for('index')}}"><img src="/static/logo.png" alt="" width="40"
                height="40"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('results')}}">Resultaten <span
                        class="badge bg-success">{{aantal_goed}}</span></a>
            </li>
        </ul>
    </nav>
    </div>



    {% block content %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>