{% extends "base.html" %} {% import "bootstrap/wtf.html" as
wtf %}
{% block content %}
<section class="bg-dark text-light p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-d-items-center justify-content-between">
            <div>
                <form method="post">
                    <h1>Hoi {{ naam }}, hoeveel is <span class="text-warning"> {{som["teller"]}}
                            {{som["tekst"]}}
                            {{som["noemer"]}}?</span></h1>
            </div>
            {% for mess in
                get_flashed_messages(True) %} {% if mess[0] == "success" %}
                <div class="alert alert-success fade show" role="alert">
                    {{mess[1]}}
                  </div>
                    {% else %}
                    <div class="alert alert-danger fade show" role="alert">
                        {{mess[1]}}
                      </div>
                        {% endif %}
                    </div>
                </div>  
                    {% endfor %}
            
        </div>
        <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-primary" role="progressbar" {{'style=width:' +percentage_style + '%' }}></div>
        </div>
        <br>
    </div>
</section>
<section class="bg-success text-light p-4">
    <form method="POST">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-0 mb-md-0">Geef je antwoord</h3>
                <div class="input-group exercise-input">
                    <input type="number" class="form-control" placeholder="Antwoord" name="antwoord" required min=0 autofocus tabindex="1">
                    {% if som["type"] == "d" %}
                    <input type="number" class="form-control" placeholder="Rest" name="rest" min=0 tabindex="2">
                    {% endif %}
                    <div class="input-group-append">
                    <button class="btn btn-dark btn-lg" type="submit" tabindex="3">Controleer</button>
                    </div>
                </div>
            </div>
    </form>
</section>
{% include "dino_background_style.html" %}

{% endblock %}